server.port=8060
spring.datasource.url=jdbc:sqlserver://ISW-210909-091\\SQLEXPRESS01;encrypt=false;integratedSecurity=true;databaseName=UnsoloDB
#spring.datasource.username=
#spring.datasource.password=
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.SQLServerDialect
spring.jpa.hibernate.ddl-auto=create
spring.jpa.properties.hibernate.default_schema=dbo
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
spring.jpa.hibernate.naming.implicit-strategy=org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
