@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* :root {
  --skyblue:'#5ADBFF';
  --m-skyblue:'hsla(193, 100%, 68%, 1)';
  --munsell: '#3587A4';
  --cocoa-yellow: '#E2711D'
} */

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.vgap--1x {
  height: 0.1rem;
}
.vgap--2x {
  height: 0.2rem;
}
.vgap--3x {
  height: 0.3rem;
}
.vgap--4x {
  height: 0.4rem;
}
.vgap--5x {
  height: 0.5rem;
}
.vgap-1x {
  height: 1rem;
}
.vgap-2x {
  height: 2rem;
}
.vgap-3x {
  height: 3rem;
}
.vgap-4x {
  height: 4rem;
}
.vgap-5x {
  height: 5rem;
}

.vgap-6x {
  height: 6rem;
}

.vgap-7x {
  height: 7rem;
}

.vgap-8x {
  height: 8rem;
}

.vgap-9x {
  height: 9rem;
}

.hgap--1x {
  display: inline-block;
  vertical-align: middle;
  width: 0.1rem;
}
.hgap--2x {
  display: inline-block;
  vertical-align: middle;
  width: 0.2rem;
}
.hgap--3x {
  display: inline-block;
  vertical-align: middle;
  width: 0.3rem;
}
.hgap--4x {
  display: inline-block;
  vertical-align: middle;
  width: 0.4rem;
}
.hgap--5x {
  display: inline-block;
  vertical-align: middle;
  width: 0.5rem;
}
.hgap-1x {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
}
.hgap-2x {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
}
.hgap-3x {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
}
.hgap-4x {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
}
.hgap-5x {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
}

.primary_bg {
  background-color: #5adbff;
}

.border-top{
  border-top: 2px solid #dad8d5;
}

.cocoa_yellow {
  color: #e2711d;
}

.orange-border-bottom {
  border-bottom: 3px solid #e2711d;
}

.secondary_bg {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.button_bg {
  background: #3587a4;
}
.full-height {
  min-height: 100vh;
}

.authentication-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  width: 60%;
  box-shadow: 0 0 0.25rem 0.1rem rgba(116, 73, 37, 0.4);

  @media only screen and (max-width: 600px) {
    width: 90%;

  }
}

.app-inner {
  padding: 2rem 0;
}

.input {
  background-color: transparent;
  border: 1px solid rgba(89, 89, 89, 0.26);
  padding: 10px;
  width: 100%;
}
.input::placeholder {
  font-weight: lighter;
  font-size: small;
}
.input:focus {
  outline: none;
}

.border-radius {
  border-radius: 10px;
}
.mobile-nav {
  position: sticky;
  top: 0;
}