@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgwalletCard1{
  background-color: #3587A4;
}
.bgwalletCard2{
  background-color: #3587A4;
}
.bgwalletCard3{
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #5adbff;
  outline: 1px solid slategrey;
}

.vgap--1x {
  height: 0.1rem;
}
.vgap--2x {
  height: 0.2rem;
}
.vgap--3x {
  height: 0.3rem;
}
.vgap--4x {
  height: 0.4rem;
}
.vgap--5x {
  height: 0.5rem;
}
.vgap-1x {
  height: 1rem;
}
.vgap-2x {
  height: 2rem;
}
.vgap-3x {
  height: 3rem;
}
.vgap-4x {
  height: 4rem;
}
.vgap-5x {
  height: 5rem;
}

.vgap-6x {
  height: 6rem;
}

.vgap-7x {
  height: 7rem;
}

.vgap-8x {
  height: 8rem;
}

.vgap-9x {
  height: 9rem;
}

.hgap--1x {
  display: inline-block;
  vertical-align: middle;
  width: 0.1rem;
}
.hgap--2x {
  display: inline-block;
  vertical-align: middle;
  width: 0.2rem;
}
.hgap--3x {
  display: inline-block;
  vertical-align: middle;
  width: 0.3rem;
}
.hgap--4x {
  display: inline-block;
  vertical-align: middle;
  width: 0.4rem;
}
.hgap--5x {
  display: inline-block;
  vertical-align: middle;
  width: 0.5rem;
}
.hgap-1x {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
}
.hgap-2x {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
}
.hgap-3x {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
}
.hgap-4x {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
}
.hgap-5x {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
}

.primary_bg {
  background-color: #5adbff;
}

.customBorder{
  border: 1px solid #dad8d5;
}

.border-top {
  border-top: 2px solid #dad8d5;
}

.primary_text_color{
  color: #3587a4;
}

.secondary_text_color{
  color: #5adbff;
}
.cocoa_yellow {
  color: #e2711d;
}

.orange-border-bottom {
  border-bottom: 3px solid #e2711d;
}

.secondary_bg {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.button_bg {
  background: #3587a4;
}
.full-height {
  min-height: 100vh;
}

.authentication-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.app-inner {
  padding: 2rem;
  border-radius: 18px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  width: 60%;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  box-shadow: 0 0 0.25rem 0.1rem rgba(116, 73, 37, 0.4);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
.app-inner::-webkit-scrollbar {
  display: none;
}

.input {
  background-color: transparent;
  border: 1px solid rgba(89, 89, 89, 0.26);
  padding: 10px;
  width: 100%;
}
.input::placeholder {
  font-weight: lighter;
  font-size: small;
}
.input:focus {
  outline: none;
}

.border-radius {
  border-radius: 10px;
}
.mobile-nav {
  position: sticky;
  top: 0;
}
.destination_bg {
  background-color: rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1);
}

.error {
  font-size: 0.6rem;
  font-weight: lighter;
}

.appLayout {
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  flex: 1;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.light-font{
  font-weight: 100;
  font-size: .7rem;
  color: #adaaaa;
}

.light-black-font{
  font-weight: 100;
  font-size: .7rem;
  color: rgba(0, 0, 0, 0.527);
}

.light-yellow-font{
  font-weight: 100;
  font-size: .9rem;
  color: #e2721d80;
}


.white-light-font{
  font-weight: 300;
  font-size: .7rem;
  color: #ffffff;
}

.average-font{
  color: #000000a0;
  font-size: .8rem;

}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hero-height{
  height: 26rem;
  width: 100%;
  object-fit: cover;
  
}


.z-negative {
  z-index: -1;
}

.ad-shadow{
  box-shadow: 5px 5px 15px rgb(160, 158, 158);
  
}